*{
    margin: 0px;
    padding: 0px;
}
main hr{
  border: 0;
  background-color: #9c97f1;
  height: 1.2px;
  margin: 2rem 5.3rem;
}
body{
    background-color:#012c2c;
    color: azure;
    font-family: 'Poppins', sans-serif;
    width:100vw ;
}
header{
    height: 75px;
    background-color: #014242;
    position: sticky;
    top: 0px;
    width: 100%;
    display: inline-block;
}
nav{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
   margin: 0 20px; 
   
}
nav ul{
    display: flex;
    justify-content: center
}
nav ul li{
    list-style: none;
    margin: 20px;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
.toggel_btn{
  font-size: 25px;
  float: right;
  width: 35px;
  align-items: center;
  margin: 20px;
  display: none;
}
@media only screen and (max-width:760px) {
  nav ul{
    display: none;
  }
  .toggel_btn{
    display: block;
  }
  .showData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.button-62 a{
  color: #FFFFFF;
  text-decoration: none;
}
.button-62 {
  margin: 0.5rem;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
}
.rightSection{
    width: 30%;
}
.leftSection{
    width: 40%;
    margin: 50px 0px;
    font-size: 2rem;
  padding: 40px;
   
}
.purple{
  color:rgb(204, 35, 204);
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}
#element{
  color: purple;
}
.rightSection img{
    margin: 50px 0px;
    height: 350px;
    width: 90%;
    
}
.title{
    font-size: 2rem;
}
.fifthSection{
  height: 100vh;
  width: 100vw;
}
.fifth-Title{
  text-align: center;
  font-size: 3rem;
  padding: 0.4rem;
}
.fifth-Title span{
  color: #0ef;
}
.container50{
  display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 padding:0  3rem;
 width: 91vw;
 margin: auto;
}
.fifth-subTitle{
text-align: center;
margin-bottom: 0.5rem;
}
.container52,.container51{
  width: 45%;
  display: flex;
  flex-direction: column;
}
.radial-bars{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.container30{
  width:99vw;
  display: flex;
  flex-wrap: wrap;
}
.container31,.container32{
  max-width: 45vw;
  margin: 10px 70px ;
  padding: 30px;
}
.container30 h2{
  text-align: center;
  margin-bottom: 10px;
}
.container30 h2{
  text-align: center;
  margin-bottom: 10px;
}
.container30 span{
  color: #0ef;
  font-size: 2.5rem;
}
.container31 .box-Contain{
  padding: 0px 30px;
  border-left:3px solid #bababa;
}
.container31 .box-Contain .box{
  /* position: relative; */
  padding: 10px;
  border: 1px solid #eaeaea;
  background-color: #0d1a16;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 10px;
  width: 90%;
}
.container31 .box-Contain .box:hover{
  box-shadow: 0px 3px 12px 0px #ccc;
  border: 1px solid transparent;
}
.container31 .box-Contain .box::before{
  content: '';
  /* position: absolute; */
  height: 16px;
  width: 16px;
  border-radius: 50%;
  right: 100%;
  top: 0;
  background-color: #11a372;
  border: 2px solid white;
  margin-right: 22px;
}
.container31 .box-Contain.box h4{
  position: relative;
  color: #11a372;
}
.container31 .box-Contain.box h3{
  font-size: 19px;
  padding: 10px 0px 6px;
  color: #05f67d;
}
.container20{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:3rem;
  background-color: var(--second-bg-color);
}.container21 img{
  width: 20vw;
  border: 5px solid #0ef;
  border-radius: 50%;
}
.container22{
  width: 40%;
}
.container22 h1{
  text-align: center;
  line-height: 1.5;
  font-size: 2.3rem;
}
.container22 h1 span{
  color: #0ef;
  font-size: 2.6rem;
}
.container40{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container41 h1{
  text-align: center;
  line-height: 1.5;
  font-size: 2.3rem;
}
.container41 h1 span{
  color: #0ef;
  font-size: 2.6rem;
}
.container42{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  margin: 20px;
}
.container42 .block{
  width: 25vw;
  margin: 10px;
  border: 2px solid #0ef;
  padding: 30px;
}
.container42 .block img{
  width:24vw;
  height:24vw ;
  border: 1px solid black;
}

.contact .contant {
  text-align: center;
}
.container{
  display: flex;
  
  text-align: center;
  flex-direction: row;
  margin:20px 20vw ;
}
.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.box .icon{
  border: 1px solid white;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
 
}
.container{
  display: flex;
  
  
}
.contact .container .contactInfo .box .text{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  /* justify-content: center; */
  align-items: first baseline;
}
.contact .container .contactInfo .box .text h3{
  font-size: 1.5rem;
  
}
.contactForm {
  width: 40vw;
  padding: 30px;
  background: #ffff;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  color: black;
  margin-top: 10px;
}
.contactForm h2{
  font-size: 2rem;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  resize: none;
}
footer{
  background-color: #014242;
  color: azure;
  
}
.copyright  {
  text-align: center;
  margin: 0;
  padding: 0; 
}